# Main
schematics==2.1.0

# Testing and QA
pytest==3.7.4
coverage==4.5.1
flake8==3.5.0
pytest-voluptuous==1.1.0
pytest-cov==2.6.0
codecov==2.0.16

# Documentation
mkdocs==1.0.4
mkdocs-material
pygments

# Packaging
twine==1.12.1
versioneer==0.18
